In [1]:
# Import the denpendencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import G_key

In [2]:
# Store the CSV you created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Rikitea,PF,2021-03-28 13:12:31,-23.1203,-134.9692,78.31,75,2,16.46
1,1,Portland,US,2021-03-28 13:12:22,45.5234,-122.6762,45.00,81,75,8.05
2,2,Tautira,PF,2021-03-28 13:12:32,-17.7333,-149.1500,77.00,78,20,2.30
3,3,Bandarbeyla,SO,2021-03-28 13:12:32,9.4942,50.8122,83.05,58,88,10.80
4,4,Muros,ES,2021-03-28 13:12:32,42.7762,-9.0603,73.00,44,0,7.00
...,...,...,...,...,...,...,...,...,...,...
589,589,Medicine Hat,CA,2021-03-28 13:10:04,50.0501,-110.6683,44.01,61,1,11.50
590,590,Tahta,EG,2021-03-28 13:14:50,26.7693,31.5021,75.20,27,0,20.71
591,591,Indi,IN,2021-03-28 13:14:50,17.1667,75.9667,98.29,13,9,9.78
592,592,Nova Olimpia,BR,2021-03-28 13:14:50,-14.7972,-57.2881,81.93,67,5,2.75
593,593,Concordia,AR,2021-03-28 13:14:50,-31.3930,-58.0209,63.00,94,90,6.91

In [3]:
# Get the data types.
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
# Configure gmaps to use your Google API Key
gmaps.configure(api_key=G_key)

In [5]:
tempertures = city_data_df["Max Temp"]
tempertures.head()

0    78.31
1    45.00
2    77.00
3    83.05
4    73.00
Name: Max Temp, dtype: float64

In [12]:
# Get the lattitude and longtitude

# 1. Assign the locations to an array of latitude and longitude pairs
locations = city_data_df[["Lat", "Lng"]]
# 2. Assign the weights variable to some value.
max_temp = city_data_df["Max Temp"] # an array of length equal to locations array length
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))
# 3. Assign the figure variable to the gmaps.figure() attribute.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# 4. Assign the heatmap_layer variable to the heatmap_layer attribute and add in the locations(using any option heat_layer)
#    Option 1
# heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temps in max_temp])
#    Option 2 Tweaking the final map to satisfy output
heat_layer = gmaps.heatmap_layer(locations, weights=temps, dissipating=False, max_intensity=300, point_radius=4)
# 5. Add the heatmap layer
fig.add_layer(heat_layer)
# 6. Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [14]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
humidity_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(humidity_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [16]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
cloud_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(cloud_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [17]:
# Heatmap of wind speed
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
wind_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(wind_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [35]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 85

In [36]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Rikitea,PF,2021-03-28 13:12:31,-23.1203,-134.9692,78.31,75,2,16.46
2,2,Tautira,PF,2021-03-28 13:12:32,-17.7333,-149.1500,77.00,78,20,2.30
3,3,Bandarbeyla,SO,2021-03-28 13:12:32,9.4942,50.8122,83.05,58,88,10.80
7,7,Atuona,PF,2021-03-28 13:08:51,-9.8000,-139.0333,80.89,72,100,18.45
9,9,Poya,NC,2021-03-28 13:12:33,-21.3500,165.1500,77.23,83,10,6.15
12,12,Bouloupari,NC,2021-03-28 13:12:34,-21.8667,166.0500,75.20,83,90,3.44
15,15,Victoria,HK,2021-03-28 13:12:35,22.2855,114.1577,78.01,80,6,6.91
16,16,Waingapu,ID,2021-03-28 13:12:35,-9.6567,120.2641,79.57,84,100,7.16
18,18,Avarua,CK,2021-03-28 13:12:35,-21.2078,-159.7750,80.60,83,75,10.36
23,23,Bredasdorp,ZA,2021-03-28 13:12:36,-34.5322,20.0403,75.20,46,100,21.85

In [37]:
# To determine if any cell has null values use (preferred_cities_df.isnull().sum(),preferred_cities_df.noynull().sum() or
# preferred_cities_df.count() )
preferred_cities_df.count()

City_ID       156
City          156
Country       155
Date          156
Lat           156
Lng           156
Max Temp      156
Humidity      156
Cloudiness    156
Wind Speed    156
dtype: int64

In [38]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

           City Country  Max Temp      Lat       Lng Hotel Name
0       Rikitea      PF     78.31 -23.1203 -134.9692
2       Tautira      PF     77.00 -17.7333 -149.1500
3   Bandarbeyla      SO     83.05   9.4942   50.8122
7        Atuona      PF     80.89  -9.8000 -139.0333
9          Poya      NC     77.23 -21.3500  165.1500
12   Bouloupari      NC     75.20 -21.8667  166.0500
15     Victoria      HK     78.01  22.2855  114.1577
16     Waingapu      ID     79.57  -9.6567  120.2641
18       Avarua      CK     80.60 -21.2078 -159.7750
23   Bredasdorp      ZA     75.20 -34.5322   20.0403

In [39]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": G_key
}

In [40]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except(IndexError):
        print("Hotel not found.....Skipping")

Hotel not found.....Skipping
Hotel not found.....Skipping
Hotel not found.....Skipping
Hotel not found.....Skipping
Hotel not found.....Skipping
Hotel not found.....Skipping
Hotel not found.....Skipping
Hotel not found.....Skipping
Hotel not found.....Skipping
Hotel not found.....Skipping
Hotel not found.....Skipping

In [41]:
hotel_df.head(10)

           City Country  Max Temp      Lat       Lng                Hotel Name
0       Rikitea      PF     78.31 -23.1203 -134.9692            Pension Maro'i
2       Tautira      PF     77.00 -17.7333 -149.1500              Pension Oaoa
3   Bandarbeyla      SO     83.05   9.4942   50.8122               JABIR HOTEL
7        Atuona      PF     80.89  -9.8000 -139.0333               Villa Enata
9          Poya      NC     77.23 -21.3500  165.1500
12   Bouloupari      NC     75.20 -21.8667  166.0500              Oua-Ya Lodge
15     Victoria      HK     78.01  22.2855  114.1577        Mini Hotel Central
16     Waingapu      ID     79.57  -9.6567  120.2641        Pondok Wisata Elim
18       Avarua      CK     80.60 -21.2078 -159.7750              Paradise Inn
23   Bredasdorp      ZA     75.20 -34.5322   20.0403  Bredasdorp Country Manor

In [42]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} Â°F</dd>
</dl>
"""

In [43]:
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [44]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)

fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))